@import '~antd/dist/antd.css';
html,
body,
#root {
    width: 100%;
    height: 100%;
}

.ant-layout {
    height: 100%;
}

body {
    margin: 0;
    padding: 0;
    display: block;
    font-family: 'wf_segoe-ui_normal', 'Verdana', 'Geneva', 'Tahoma', 'sans-serif', '微软雅黑';
}

.header {
    background-color: '#efefef';
}

siders {
    /* width: 200px; */
    background-color: '#efefef';
}

@media print {
    .printHidden,
    .ant-modal-header,
    .ant-modal-footer,
    .ant-modal-title,
    .ant-modal-close,
    .ant-modal-footer {
        visibility: hidden;
    }
}