@import '~antd/dist/antd.css';
html,
body,
#root {
    width: 100%;
    height: 100%;
}

.ant-layout {
    height: 100%;
}

body {
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}

.header {
    background-color: '#efefef';
}

siders {
    /* width: 200px; */
    background-color: '#efefef';
}

@media print {
    .printHidden {
        visibility: hidden;
    }
    .ant-modal-header.ant-modal-footer {
        visibility: hidden;
    }
    .ant-modal-close {
        visibility: hidden;
    }
    .ant-modal-footer {
        visibility: hidden;
    }
}