.clearfix:after {
    content: "\0020";
    display: block;
    height: 0;
    clear: both;
}

#warning-box {
    margin-top: 21px;
    height: 430;
}

#warning-box .chart-text {
    display: flex;
    height: 40px;
    justify-content: center;
    align-items: center;
}

#warning-box .chart-text li {
    cursor: default;
    font-size: 14px
}

#warning-box ul {
    overflow: hidden
}

#warning-box .tab-box ul li {
    display: flex;
    float: left;
    width: 160px;
    height: 50px;
    /* text-align: center; */
    justify-content: center;
    align-items: center;
    cursor: pointer;
}


/* a {
    text-decoration: none
} */