.clear :after {
    clear: both;
    content: '.';
    display: block;
    width: 0;
    height: 0;
    visibility: hidden;
}

#filter-list {
    zoom: 1;
    width: 100%;
}

.checkbox .filter-click-btn {
    flex: 2;
    width: 16px;
    height: 16px;
    margin: 6px 5px;
    background: #1e8fe6;
}

.checkbox {
    float: left;
    margin: 0 20px;
    width: 80px;
    height: 30px;
    border: 1px solid #eee;
    background: white;
    line-height: 30px;
    display: flex;
}

.checkbox button {
    flex: 2;
    width: 16px;
    height: 16px;
    margin: 6px 5px;
    border: 1px solid #fff;
}


/* #filter-list li text, */