html,
body,
{
    display: inline;
}

text {
    display: inline-block;
    font-size: 14px;
}

#ul_list {
    float: left;
    min-width: 100px;
    height: 400px;
    padding: 0;
    padding-bottom: 50px;
    /* flex-direction: column; */
}

#ul_list li {
    height: 32px;
    padding-bottom: 30px;
}

#sign {
    padding: 0;
    font-size: 14px;
}

.sign-list text {
    height: 100px;
}